body{
  background: #AFEEEE;
  background-attachment:fixed;
  width:100%;
  height:100%;
  margin: 0;
}

img {
  float: right;
}

small {
  font-size: 30px;
  color: rgba(0, 206, 209);
}


ul.a {
  font-family: Georgia, serif;
  padding: 50px;
  margin: 0px;
  font-size: 18px;
  color:black;
  /*margin-bottom: -100px;*/
}

h4 {
  font-family: 'Georgia', serif;
  padding: 0px;
  margin: 0px;
  font-size:20px;
  color:black;
  /*margin-bottom: -100px;*/
}

h5 {
  font-family: 'Georgia', serif;
  padding: 50px;
  margin: 0px;
  font-size:20px;
  color:black;
  /*margin-bottom: -100px;*/
}

h3 {
  font-family: 'Georgia', serif;
  padding: 50px;
  margin: 0px;
  font-size:20px;
  color:#00ced1 ;
  /*margin-bottom: -100px;*/
}

p {
  font-family: 'Georgia', serif;
  padding: 50px;
  margin: 0px;
  font-size:18px;
  color:black;
  /*margin-bottom: -100px;*/
}

h1 {
  font-family: 'Abel';
  font-size: 41px;
  /*margin-bottom: -100px;*/
  padding: 50px;
  margin: 0px;
}

h2 {
  font-family: Georgia, serif;
  padding: 50px;
  margin: 0px;
  font-size: 20px;
  color:#00ced1 ;
  /*margin-bottom: -100px;*/
}

.center {
  text-align: center;
}

section {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0px;
  font-size: 22px;
}

/* NAVIGATION */
nav {
  /*width: 80%;*/
  /*margin: 0 auto;*/
  background: #fff;
  padding: 0;
  /*#dedede*/
  box-shadow: 0px 5px 0px #00ced1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #40E0D0;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #009292;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */

@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}


.glow {
  font-size: 50px;
  color: #6C2DC7;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/*#e60073 is a dark-pink shade. */
/*#ff4da6 is brilliant rose.*/

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #00ced1, 0 0 20px #00ced1, 0 0 30px #871F78, 0 0 40px #871F78, 0 0 50px #871F78, 0 0 60px #871F78, 0 0 70px #871F78;
  }
  to {
    text-shadow: 0 0 20px #00ced1, 0 0 30px #CBC3E3, 0 0 40px #CBC3E3, 0 0 50px #CBC3E3, 0 0 60px #CBC3E3, 0 0 70px #CBC3E3, 0 0 80px #CBC3E3
  }
}

video {
  display:block;
  margin:0 auto;
  margin-top:100px;
  width:320px;
  height:240px;
}

.image1{
  display:block;
  margin:0 auto;
  margin-top:100px;
  width:320px;
  height:240px;
}
